.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color:rgba(248, 244, 248); */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
  height: 130px; /* Initial height */
  padding: 20px 20px 15px 20px;
  display: flex;
  align-items: center;
  transition: height 0.8s ease, background-color 0.8s ease;
  will-change: height, background-color;
  min-height: 50px;
  /* background-color: #5B140C; */
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  height: 100%;
}

.nav-links {
  display: flex;
  gap: 45px;
  font-size: 1.3rem;
  padding-left: 10rem;
  font-family:  "EB Garamond", serif;
  font-weight: 300;
  z-index: 3;
  transition: gap 0.8s ease;
}

.navlink:focus {
  outline: none;
}

.navlink {
  text-decoration: none;
  color: #cea200;
  transition: color 0.3s ease;
  z-index: 3;
  padding-bottom: 5px;
  transition: all 1s ease;
}


.logo {
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: transform 0.3s ease;
  color:  #cea200;
  margin-left: -6rem;
  z-index: 3;
}

.logo-image {
  width: 450px; /* keep this as fallback */
  height: auto;
  transform: scale(1);
  transition: transform 0.8s ease, width 0.5s ease;
}

.nav-links .navlink {
  position: relative;
  text-decoration: none;
  color: rgba(253, 244, 239, 0.9);
  padding: 8px 12px 12px 12px;
  /* transition: color 0.8s ease; */
  transition: font-size 0.8s ease, padding 0.8s ease, color 0.3s ease;
}

.nav-links .navlink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;  
}

.nav-links .navlink:hover::after {
  width: 100%;
  border-bottom: 2px solid #CEA200; /* your logo color */
  transition: width 0.6s ease;
}

.nav-links .navlink.active {
  color: #CEA200;  
}

.nav-links .navlink.active::after {
  width: 100%;
  border-bottom: 2px solid transparent;
}


.navbar.shrunk {
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.navbar.shrunk .logo-image {
  transform: scale(0.55); /* 300/450 = 0.66 */
}

.navbar.shrunk .nav-links {
  gap: 25px;
} 



.navbar.shrunk .nav-links .navlink {
  font-size: 1.2rem;
  padding: 6px 12px 8px 12px;
  color: #5B140C;
} 


.navbar.shrunk .nav-links .navlink.active {
  color: #CEA200;  
}