* {
  user-select: none;
  -webkit-user-select: none; /* For Safari/Chrome */
  -ms-user-select: none;     /* For older IE/Edge */
}

.exploreusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  color:  white;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Cardo', Georgia, 'Times New Roman', serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.exploreusButton {
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
  background-color: #cea200;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 2px solid #cea200;
}

.exploreusButton:hover {
  background-color: #cea200;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.exploreusArrow {
  display: inline-block;
  transition: transform 0.3s;
  font-weight: bold;
}

.exploreusButton:hover .exploreusArrow {
  transform: translateX(5px);
}

/* .exploreusArrow:hover {
  transform: translateX(5px);
} */


.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(190deg, black 0%, rgba(216, 212, 212, 0) 30%), url('./hero-landscape.png');
  background-size: cover;
  background-position: center;
}

.rightPanel {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  width: 52vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.3rem;
  margin-top: 12rem;
}

.text {
  font-family: 'Cardo', Georgia, 'Times New Roman', serif;
  /* color: rgba(253, 244, 239, 0.6); */
  color: white;
  font-size: 33px;
  font-weight: 500;
  line-height: 2.8rem;
  z-index: 2;
  vertical-align: top;
  margin-right: 20px;
}

.firstletter {
  font-size: 78px;
  line-height: 1em;
  display: inline-block;
  margin-right: -0.1em;
  color: #cea200;
  z-index: 2;
}

.special {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.remainigFirst {
  border-bottom: 2px solid transparent;
}

.companycontainer {
  width: 80%;
  font-family: 'EB Garamond', serif;
  /* color: rgba(253, 244, 239, 0.6); */
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3em;
  z-index: 2;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* margin-top: 1.5rem; */
}

.companycontainerinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtextcontainer {
  display: flex;
  justify-content: flex-end;
}

.subtext {
  display: inline-block;
  padding-right: 5rem;
  padding-left: 5rem;
  border-bottom: 2px solid #cea200;
}

.sincecontainer {
  display: flex;
  justify-content: flex-end;
}

.since {
  font-size: 10px;
}


.text p::first-letter {
    font-size: 200%;
    color: #cea200;
    /* REMOVE float and margin */
  }

/* @media screen and (min-width: 1024px) {

}   */


/* Mobile Phones (portrait & landscape) */
@media screen and (max-width: 820px) {
 
  .card{
    margin-top: clamp(12rem, 70vw, 20rem);
  }

  .exploreusContainer {
    /* margin-top: 1.5rem; */
    font-size: clamp(1rem, 2.5vw, 2rem);
    flex-direction: column;
    text-align: center; 
    width: 100%;    
  }

  .exploreusButton {
    /* font-size: 25px; */
    padding: 0.4rem 1.5rem;
  }

  .text {
    font-size: clamp(1.5rem, 4vw, 3rem) !important;
    text-align: center;
    hyphens: auto;
  }

  .firstletter {
    font-size: clamp(3.0rem, 4vw, 5rem) !important
  }

  .companycontainer {
    width: 100%;
    font-size: 16px;
    text-align: center;
    align-items: flex-end;
  }

  .subtextcontainer, .sincecontainer {
    justify-content: center;
  }

  .subtext {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .rightPanel {
    width: 100vw !important;
    padding: 1rem;
  }

  .special {
    justify-content: flex-start;
  }

  .sincecontainer{
    padding-right: 0px;
  }
}
