.header{
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 400;
    background: linear-gradient(131deg, #722410 0%, #dd9162 100%) !important;
    padding: 30px;
    padding-top: 130px;    
}

.header-content {
    padding: 25px;
    padding-left: 180px;
}

.header-content h1 {
    color: #fff;
    margin: 0;
    font-family: 'Cardo', Georgia, "Times New Roman", serif;
    font-weight: 500;
    font-size: 62px;
    padding-bottom: 10px;
    border-bottom: #dd9162 1px solid;
}

.header-content p {
    color: #fff;
    margin: 0;
    font-family: 'Cardo', Georgia, "Times New Roman", serif;
    font-weight: 400;
    font-size: 22px;
    padding-top: 20px;
}


.body {
    width: 80%;
    margin: 20px auto 0px auto;
    background-color: #f9f9f9;
}

.phone-container, .social-media-container, .contact-container, .email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

h2{
    padding: 0px 30px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #722410;
    font-family: 'Cardo', Georgia, "Times New Roman", serif;
    border-bottom: #dd9162 1px solid;
    margin-bottom: 10px;
}


/* .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
} */

/* .contact-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #722410  ;
} */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 0px 100px 80px 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.form-name-email {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.form-element {
    font-size: 16px;
    font-family: 'Cardo', Georgia, "Times New Roman", serif;
}

.form-element:focus {
    outline: none;
    border-color: #722410;
}

.name, .email {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    font-size: 16px;

}

.textarea {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    font-size: 16px;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #722410;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.social-box {
  width: 40px;               /* Set same width for all */
  height: 40px;              /* Set same height */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
  margin: 0 6px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s, background 0.3s;
  padding: 2px;
  margin-right: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.social-box:hover {
  transform: scale(1.1);
}

/* Facebook Blue */
.fb {
  background-color: #1877F2;
}

/* YouTube Red */
.yt {
  background-color: #FF0000;
}

/* Instagram Gradient */
.insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, 
              #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

a {
    color: inherit;
    text-decoration: none;
    /* padding-bottom: 8px; */
}

.a-underline:hover {
    position: relative;
}

.a-underline:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #dd9162;
    border-radius: 2px;
}

 .dot-separator {
        display: flex;
        justify-content: center;
        gap: 1rem; /* spacing between dots */
        color: #b4b4b4;
        font-size: 1.5rem;
    }

@media (max-width: 768px){
    .header-content {
        padding: 10px;
        padding-left: 0px !important;
    }
    
    .header-content h1 {
        font-size: 50px !important;
        padding-bottom: 5px;
    }

    .header-content p{
        font-size: 20px;
    }

    .footer{
        height:400px;
    }

    .body {
        width: 100%;
        display: flex
;
        flex-direction: column;
        /* align-items: center; */
        gap: 40px;
        background-color: #f9f9f9;
    }
    
    .phone-container, .social-media-container, .contact-container, .email-container{
        padding: 10px;
    }
    
    .contact-form{
        width: 100%;
        padding: 0px;
    }
    
    .form-name-email{
        flex-direction: column;
        width: 100%;
    }

    .name, .email {
       width: 98%;
       padding: 10px 0px 10px 10px;
    }
}